<!-- The code below is from: https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Complete</h1>
        </div>
    </div>

    <!-- Got this from: https://getbootstrap.com/docs/4.0/components/card/#card-decks -->
    <div class ='card'>
            <div class='card-body'>
                <h5 class='card-title'>Assigned Projects</h5>
            <!-- Got this from: https://getbootstrap.com/docs/4.0/components/card/#card-decks -->
            <div class="card-deck">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">
                        </p>
                        <button class='btn-primary'>Mark as Complete</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Project 2</h5>
                        <p class="card-text" id='employeeMatches'>
                        </p>
                        <button class='btn-primary'>Mark as Complete</button>

                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      </div>
                    </div>
                  </div>
            
            </div>
                  
            </div>


    