
<!-- The code below is from: https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" id='employeeNameHeader'></h1>
          <div>
            <div id='containerForPhoto'>
                <img id='employeePhoto' class='employee-edit-photo' alt='Employee Photo'></img>
            </div>
            <br>
            <input id='photoSelector' type='file'>
          </div>
        </div>
    </div>

<div class='edit-div'>
  <h2>Major: </h2><h2 id='employeeMajor'></h2>&nbsp;&nbsp;<span id='employeeMajorEdit'></span>
<div>