<!DOCTYPE html>
<html>
<head>
    <%- include externalInput %>
</head>
<body onload='loadPage("<%= contentForBody %>")'>
    <%- include(navigationBar, {active: contentForBody}) %>
    <%- include(contentForBody) %>
</body>
</html> 