<div onload='loadSetUp()'>
<h1>Time to get Set up</h1>
<button onclick='loadSetUp()'>Load Setup</button>
<div class ='container'>

    <div class='row'>
        
        <div class='col'>
            <h2>Skills: </h2>
            <ul id='skillsList'>
                <li>Test Skill</li>
            </ul>    
                        
        </div>
        
        <div class='col'>
            <h2>Employees: </h2>
            <ul id='employeesList'>
                <li>Test Employee</li>
            </ul>
        </div>
    </div>
</div>
</div>