/* No Styles Yet! */


.navbar-brand {
    text-align: center;

}

.large-font {
    font-size: 2em;
}


.add-button {
    font-size: .7em;
    border-radius: 40px;
    background-color: green;


}

.remove-button {
    font-size: .7em;
    border-radius: 40px;
    background-color: red;
}

.underline {
    text-decoration: underline;

}

.edit-div {
    padding: 20px 20px 10px 150px;

}

.edit-div h2 {
    display: inline;
}

.employee-edit-photo {
    width: 200px;
}

.make-inline {
    display: inline;
}